html {
    height: 100%;
}

body {
    font-family: Manrope;
    font-weight: 600;
    background-color: #131313;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
