#popup-success {
    text-wrap: nowrap;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    position: absolute;
    top: -75px;
    background-color: rgba(0, 255, 0, 0.5);
    z-index: 2;
    backdrop-filter: blur(5px);
}

.success-show {
    animation: popup-show 1s forwards;
}

.success-hide {
    animation: popup-hide 1s forwards;
}

#success-data > p {
    display: block;
    font-weight: 900;
    font-size: 17px;
}

#popup-success > button {
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 10px;
}

@keyframes popup-show {
    0% {
        top: -75px;
    }

    100% {
        top: 0px;
    }
}

@keyframes popup-hide {
    0% {
        top: 0;
    }

    100% {
        top: -75px;
    }
}
