@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-VariableFont_wght.ttf");
}

body {
  padding: 0;
  overflow: hidden;
}

p, ul, li  {
  all: unset;
}

.svg-wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.svg {
  position: absolute; 
  z-index: -1;
  overflow: hidden;
  display: inline-block;
}

#svg1 {
  top: 400px;
  right: calc(40vw - 400px);
}

#svg2 {
  top: -50px;
  left: calc(50vw - 300px);
}

#svg3 {
  bottom: -200px;
  right: calc(50vw + 300px);
}

body {
  font-family: Manrope;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #3c3c3c;
  background-image: linear-gradient(#b763cc, #5a3ebf);
}


/* ФОРМА */



form {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  background-color: rgba(0, 0, 0, .2);
  height: clamp(50px, 95dvh, 650px);
  width: clamp(200px , 85vw, 600px);
  padding: max(5px, 1vw);
  border-radius: 10px;
  outline: #5100ff 10px;
  color: black;
  backdrop-filter: blur(5px);
}



/* ЗАГОЛОВОК */



form > .head {
  font-weight: 600;
  height: clamp(15px, 5%, 50px);
  font-size: 1.5rem;
  text-align: center;
}




/* ГЛАВНОЕ */



form > .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  height: 90%;
}



/* ПОЛЯ ВВОДА */



form > .main > .element {
  align-items: center;
  margin: clamp(3px, 1%, 30px);
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  height: clamp(60px, 7%, 70px);
  width: clamp(250px, 90%, 275px);
  border-radius: 7px;
  padding: 0px 5px;
}

.element > label {
  color: black;
  margin-left: 15px;
  padding: clamp(2px, 1vw, 4px);
}

.element > input {
  align-self: center;
  width: 100%;
  color:black;
  height: clamp(20px, 15vw, 30px);
  width: calc(100% - 20px);
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  border: 1px solid black;
  box-shadow: 0px 0px 0px rgba(255,255,255,.5) inset;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.element > input:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.element > input::placeholder {
  color: rgba(0,0,0,0.5);
}

.element > input:focus {
  outline: none;
  box-shadow: 0px 0px 7px rgba(255,255,255, .5) inset;
}



/* ПОЛ */



.radio {
  display: flex;
  align-self: center;
  width: clamp(0px, 80%, 300px);
}

.radio > .pol {
  width: 20%;
  text-align: center;
}

.radio > .radio-buttons-wrapper {
  display: flex;
  flex-direction: row;
  background-color: rgba(255,255,255, .1);
  border-radius: 100px;
  height: clamp(20px, 15vw, 30px);
  width: max(200px, 50%)
}

.btn-wrapper {
  width: calc(100% - 20px);
  background-color: none;
  transition: background-color .12s;
  border: 1px solid black;
  border-radius: 100px;
}

.btn-wrapper > label {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  width: 100%;
  height: 100%;
  transition: box-shadow .3s, background-color .3s;
  border-radius: 0 100px 100px 0;
}

.btn-wrapper > label:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.btn-wrapper > label:focus {
  outline: none;
  box-shadow: 0px 0px 7px rgba(255,255,255, .5) inset;
  border-radius: 0 100px 100px 0;
}

.btn-wrapper:first-child > label {
  border-radius: 100px 0 0 100px;
}

.btn-wrapper > .radio-btn {
  visibility: hidden;
  display: none;
}

.btn-wrapper {
  border-radius: 0 100px 100px 0;
}

.btn-wrapper:first-child {
  border-radius: 100px 0 0 100px;
}

.btn-wrapper:has(input:checked) {
  background-color: rgba(255, 0, 179, .3);
}

.btn-wrapper:has(input:checked):first-child {
  background-color: rgba(0, 98, 255, .3);
}



/* ЯЗЫКИ */



.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: clamp(20px, 14%, 140px);
  width: clamp(300px, 80%, 500px);
}

.language-list {
  display: flex;
  flex-direction: column;
  height: 75px;
  width: fit-content;
  overflow: hidden;
  overflow-y:visible;
  border-radius: 5px;
}

.language-list::-webkit-scrollbar {
  width: 10px;
}

.language-list::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 5px 5px 0;
  width: 5px;
}

.language-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0 5px 5px 0;
  width: 5px;
}

.language-btn {
  
}

.show-languages {

}

.hide-languages {

}

.languages > label {
  flex: 1;
}

.language-list > li {
  background-color: rgba(255, 255, 255, .2);
  padding: 3px;
  transition: all .2s;
}

.language-list > li:has(input:checked) {
  background-color: rgba(100, 255, 100, .4);
}

.language-list > li > input {
  z-index: 1;
  text-align: center;
  visibility: hidden;
  display: none;
}

.language-list > li > label {
  display: block;
  width: 100%;
}

.language-list > li > label:focus {
  
}



/* БИОГРАФИЯ */



#biography {
  margin: clamp(3px, 1%, 30px);
  border-radius: 7px;
  padding: 0px 5px;
  height: clamp(60px, 15%, 100px);
}

#biography > textarea {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid black;
  resize: none;
  height: 100%;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
}

#biography > textarea::placeholder {
 color: rgba(0, 0, 0, .5)
}

#biography > textarea:focus {
  outline: none;
  box-shadow: 0px 0px 7px rgba(255,255,255, .5) inset;
}



/* ОТПРАВКА */



.form-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: end;
  justify-items: end;
}

.submit-btn {
  /* float: right; */
}