.user-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 10px;
    margin: 5px 10px;
}

.user-data {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;
}

.user-data:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, .2);
}

.user-data > p {
    text-overflow: ellipsis;
    margin-right: 10px;
}

.user-data > a {
    background-color: rgba(248, 239, 0, 0.685);
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.deleteUser > button {
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: red;
}